/*Палитра основных цветов*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-black-color: #000000;
  --logo-bg-white-color: #ffffff;
  --hero-footer-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --button-bg-color: #f5f4fa;
  --work-bg-color: #e5e5e5;
}
body {
  background-color: var(--logo-bg-white-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* hover focus */
.link:hover,
.link:focus,
.contacts-link:hover,
.contacts-link:focus,
.site-nav .link:hover,
.site-nav .link:focus .link-map:hover,
.link-map:hover,
.link-map:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}
/* Шапка сайта */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}
.accent-logo {
  color: var(--logo-black-color);
}
.footer .accent-logo {
  color: var(--logo-bg-white-color);
}
/*Навигация */
.nav-link,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color)
  text-decoration: none;
  list-style: none;
}
.contacts-nav, .contacts-link { 
  color: var(--primary-text-color);
  text-decoration: none; 
  list-style: none;
}
.current {color: var(--accent-color);}
/*Герой*/
.hero,
.footer {
  background-color: var(--hero-footer-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--logo-bg-white-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: transparent;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--logo-bg-white-color);
  text-align: center;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: var(--logo-bg-white-color);
}
/*Наши преимущества*/
.list,
.team,
.filter,
.work-list {
  list-style: none;
}
.text-title {
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}
/*Чем мы занимаемся*/
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

}
.text-submite {
  line-height: 1.71;
  color: var(--primary-text-color);
}
/*Наша команда*/
.team {
  background-color: var(--secondary-bg-color);
}
.team-item {
  color: var(--title-text-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.team-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

/*Портфолио*/
.filter {
  list-style: none;
  display: flex;
  justify-content: center;
}
/* Кнопки */
.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--logo-bg-white-color);
  background-color: var(--accent-color);
  text-align: center;
  cursor: pointer;
}
.button-primary,
.button-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.button-primary:hover,
.button-primary:focus {
  background-color: var(--button-bg-color);
  color: var(--title-text-color);
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--logo-bg-white-color);
  background-color: var(--accent-color);
}
.button-secondary {
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
/* Наши роботы */
.work-list {
  list-style: none;
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/*Футер*/
.footer {
  background-color: var(--hero-footer-bg-color);
}
.footer .logo {
  color: var(--accent-color);
}
.address .link {
  color: var(--logo-bg-white-color);
}
.address {
  font-style: normal;
}
.address-menu {
  list-style: none;
}
.link-map,
.footer-link {
  line-height: 1.71;
  text-decoration: none;
}
.address .link-map {
  color: var(--logo-bg-white-color);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
